/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/


body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}


/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */
.flexkontejner{
    display: flex;
    flex-direction: column;
}

.hlavni-recept {
    display: flex;
    min-height: 200px;
    background-image: url(images/burger.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    flex-grow: 1;
    }

    .recept2 {
        display: flex;
        min-height: 200px;
        background-image: url(images/sushi.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 10px;
        flex-grow: 1; 
    }

    .recept3 {
        display: flex;
        min-height: 200px;
        background-image: url(images/kure.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 10px;
        flex-grow: 1; 
    }

    .recept4 {
        display: flex;
        min-height: 200px;
        background-image: url(images/rajcata.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 10px;
        flex-grow: 1; 
    }
    .recept5 {
        display: flex;
        min-height: 200px;
        background-image: url(images/grilovani.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 10px;
        flex-grow: 1; 
    }

    .recept-nazev-1 {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 28px;
        align-self: flex-start;
    }

    .recept-komentare .recept-kategorie {
            font-weight: 400;
            font-size: 14px;
            font-family: "Source Sans Pro";
            margin: 0em;
         }

    .recept-meta {
        display:flex;
        width: 100%;
        justify-content:space-between;  
        margin: 0em;
    }


